<style type="text/css">
	
    .axis path,
    .axis line{
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }

    .axis text {
        font-family: sans-serif;
        font-size: 11px;
    }

</style>

<div class="graph"></div>
<script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
<script type="text/javascript">

var n = 243,
    duration = 750,
    now = new Date(Date.now() - duration);

var margin = {top: 6, right: 0, bottom: 20, left: 40},
    width = 960 - margin.right,
    height = 120 - margin.top - margin.bottom;

var x = d3.time.scale()
    .domain([now - (n - 2) * duration, now - duration])
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);


var svg = d3.select(".graph").append("p").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .style("margin-left", -margin.left + "px")
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");



var axis = svg.append("g")
    .attr("class", "axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

var transition = d3.select({}).transition()
    .duration(750)
    .ease("linear");

function tick() {
  transition = transition.each(function() {
    now = new Date();
    x.domain([now - (n - 2) * duration, now - duration]);
    axis.call(xAxis);
  }).transition().each("start", tick);
};

tick();

</script>